<h1><%= @sandwich.title %></h1>

<%# <img src="<%= @sandwich[:image] %>" alt=""> %>
<br>
<cite><%= @sandwich.description %></cite>
<br>
<button type="button" name="button">
  <a href="/<%= @sandwich.id %>/edit">Edit Sandwich</a>
</button>
<br>
<form class="" action="/<%= @sandwich.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Sandwich">
</form>
